<app-navegacao></app-navegacao>
<div class="conteudo-login">
<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card layout-align="center center">
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
      <mat-card-content>
           <div class="container-login">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput  placeholder="Email" name="email" formControlName="email" >
             </mat-form-field>
             <mat-form-field class="full-width" appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha" name="senha" formControlName="senha" >
             </mat-form-field>

             <section>
               <mat-checkbox formControlName="lembrar">
                 Lembrar
               </mat-checkbox>
             </section>

             <div class="link-cadastro"><a routerLink="/auth/cadastro-usuario">Cadastrar-se</a></div>
           </div>
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button mat-raised-button color="default" [routerLink]="['/']">Voltar</button>
         </mat-card-actions>
      </mat-card>
   </form>
</div>
