<div class="conteudo">
  
  <form [formGroup]="cadastroForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Cadastro de Usuário</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container-cadastro">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>CPF</mat-label>
              <input type="cpf" matInput placeholder="CPF">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Data de nascimento</mat-label>
              <input type="dataNascimento" matInput placeholder="Data de nascimento">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Instituição/Empresa</mat-label>
              <input type="empresaInstituicao" matInput placeholder="Nome da instituição ou nome da empresa">
            </mat-form-field>
            
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="Senha" >
            </mat-form-field>
          
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirme a senha</mat-label>
              <input  type="password" matInput placeholder="Confirme a senha">
            </mat-form-field>
            
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="default" [routerLink]="['/lista-eventos']">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>

