.conteudo {
  max-width:  90%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.container-cadastro {
  display: flex;
  flex-direction: column;
}

.container-cadastro > * {
  width: 100%;
}
