<span *ngIf="usuarioLogado()">Olá {{nome}}</span>
<a mat-button [routerLink]="['/eventos']">Eventos</a>
<button mat-button *ngIf="!usuarioLogado()" [routerLink]="['/auth/login']"> Login</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button *ngIf="usuarioLogado()" mat-menu-item [routerLink]="['/eventos']" 
        [queryParams]="{ meusEventos:  'true' }"
        queryParamsHandling="merge">
        <mat-icon>event</mat-icon>
        <span>Meus eventos</span>
    </button>
    <button mat-menu-item *ngIf="usuarioLogado()" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
    </button>
</mat-menu>
