<!--The content below is only a placeholder and can be replaced.-->
<app-navegacao></app-navegacao>
<div class="conteudo">
    <mat-card class="eventos-card" *ngFor="let evento of eventos">
        <mat-card-header>
          <div mat-card-avatar class="eventos-header-image"></div>
          <mat-card-title>{{ evento.titulo }}</mat-card-title>
          <mat-card-subtitle>
            {{ evento.subtitulo }} 
            <br /> <small>Data Início: {{ obterDataInicioMenor(evento.agendamentos) | date:'dd/MM/yyyy HH:mm' }} - Data Fim: {{ obterDataFimMaior(evento.agendamentos) | date:'dd/MM/yyyy HH:mm' }}</small> 
            <br /> <small>Vagas: {{evento.vagas}}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ evento.descricaoCurta }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button (click)="openDialog(evento)">
            <span>Quero ir!</span>
          </a>
          <a mat-button (click)="abrirDetalhes(evento)">Detalhes!</a>
        </mat-card-actions>
      </mat-card>
</div>


