<app-navegacao></app-navegacao>
<div class="conteudo">
        <div class="overlay" *ngIf="spinner">
                <div class="spinner-wrapper">
                    <mat-progress-spinner 
                            class="example-margin"
                            color="primary"
                            mode="indeterminate"
                            value="50">
                        </mat-progress-spinner>                        
                </div>
        </div>

  <form [formGroup]="cadastroForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Editar evento</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container-cadastro">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Título</mat-label>
              <input matInput placeholder="Título do evento (requerido)" formControlName="titulo">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Subtítulo</mat-label>
                <input matInput placeholder="Subtítulo do evento (requerido)" formControlName="subtitulo">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Número de vagas</mat-label>
                <input matInput placeholder="Número de vagas (requerido)" mask="999999999" formControlName="vagas">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="idCategoria">
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.nome}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descrição curta</mat-label>
                <input matInput placeholder="Descrição curta (requerido)" formControlName="descricaoCurta">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <textarea matInput placeholder="Descrição longa (requerido)" formControlName="descricaoLonga"></textarea>
            </mat-form-field>
            
            <div class="tabela-agendamentos" >
                <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8 full-width">
                    <ng-container matColumnDef="dataInicio">
                      <th mat-header-cell *matHeaderCellDef> Data inicio </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataInicio | date:'dd/MM/yyyy HH:mm'}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="dataFim">
                        <th mat-header-cell *matHeaderCellDef> Data fim </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataFim | date:'dd/MM/yyyy HH:mm'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acao">
                        <th mat-header-cell *matHeaderCellDef> Ação </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" (click)="removerAgendamento(element)">
                                <mat-icon aria-label="Remover" >remove_circle_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="agendamentosColunas"></tr>
                    <tr mat-row *matRowDef="let row; columns: agendamentosColunas;"></tr>
                </table>

            </div>
           

            <button mat-raised-button color="primary" type="button" (click)="adicionarAgendamento()" >Adicionar agendamento</button>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="default" [routerLink]="['/admin-evento']">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>