
<div class="conteudo">
    <mat-card class="eventos-card">
        <mat-card-header>
          <div mat-card-avatar class="eventos-header-image"></div>
          <mat-card-title>Meetup sobre .Net C#, .Net Framework</mat-card-title>
          <mat-card-subtitle>
            Uma reunião para compartilhar conhecimento sobre .Net C#. 
            <br /> <small>Data Início: 22/12/2019 15:00 - Data Fim: 22/12/2019 18:00</small> 
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              Tem interesse em programação, desenvolvimento web, C#, .Net? Venha ao evento!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/cadastro-usuario']">Quero ir!</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="eventos-card">
          <mat-card-header>
            <div mat-card-avatar class="eventos-header-image"></div>
            <mat-card-title>Meetup sobre .Net C#, .Net Framework</mat-card-title>
            <mat-card-subtitle>
              Uma reunião para compartilhar conhecimento sobre .Net C#. 
              <br /> <small>Data Início: 22/12/2019 15:00 - Data Fim: 22/12/2019 18:00</small> 
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                Tem interesse em programação, desenvolvimento web, C#, .Net? Venha ao evento!
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button [routerLink]="['/cadastro-usuario']">Quero ir!</a>
          </mat-card-actions>
        </mat-card>
</div>


